.footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-primary);
  padding: 3em 3em;
  font-size: 20px;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.center {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.right {
  display: flex;
  gap: 5px;
  align-items: flex-end;
}

@media (max-width: 707px) {
  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 48px;
  }

}