html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lexend Giga';
  font-size: 1em;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #E6D8BC;
  }
}

:root {
  --color-green: #606c38;
  --color-green-dark: #283618;
  --color-brown: #bc6c25;
  --color-brown-dark: #582d18;
  --color-brown-light: #dda15e;
  --color-brown-ultra-light: #e6d8bc;
  --color-beige: #fefae0;
  --color-black: #121212;
  --color-white: #fcfcfc;

  --color-primary: var(--color-green);
  --color-primary-dark: var(--color-green-dark);
  --color-secondary: var(--color-brown);
  --color-secondary-dark: var(--color-brown-dark);
  --color-secondary-light: var(--color-brown-light);
  --color-secondary-ultra-light: var(--color-brown-ultra-light);
  --color-text: var(--color-beige);
}
