.homeCategories {
  padding: 3em 1em;
  background-color: var(--color-beige);
  display: flex;
  justify-content: center;
  gap: 72px;
}

.homeProducts {
  padding: 3em 1em;
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.product {
  display: flex;
  flex-direction: column;
  max-width: 200px;
}

.productsTitleLight {
  font-size: 2em;
  padding: 1em 1.5em 0em;
  font-weight: bold;
  color: var(--color-secondary-dark);
}

.productsTitleDark {
  font-size: 2em;
  padding: 1em 1.5em 0em;
  font-weight: bold;
}

.productName {
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.4em;
}

.productOldPrice {
  text-decoration: line-through;
}

.productPrice {
  font-weight: bold;
  font-size: 1.7em;
}

.homeCategoriesName {
  text-align: center;
  color: var(--color-secondary-dark);
  font-weight: 600;
  font-size: 1.3em;
  padding-top: 10px;
}